

.container{
   display: flex;
   position: fixed;
   top: 0;
   justify-content: space-around;
   background-color: #cecece;
   box-shadow: 5px 5px 10px 0 #aaa;
   height: 75px;
   z-index: 999;
   opacity: 0.95;
   width: 100%;
   border-radius: 5px;
}

.links{
   display: flex;
   padding: 6px;
   margin:  0;
}

.heading{
   padding: 0 10px;
   position: relative;
   top: -20px;
   font-size: 30px;
}

.fonts{
   display: flex;
   justify-content: space-between;
   margin: 10px;
   padding:  5px 10px;
   font-size: 25px;
}

a{
   text-decoration: none;
   margin: 10px;
   padding: 11px 0;
   font-size: 18px;
   font-weight: bold;
   color: #222;
}

select{
   border: none;
   background: none;

}

.font1{
   padding: 0 10px;
}

.cart{
   display: inline-block;
   font-size: 35px;
   position: relative;
   top: 25px;
    left: -30px;
   color: #eb3312;
}

.link{
   position: relative;
   top: 8px;
}

.highlight{
   font-size: 18px;
   color: black;
   font-weight: bold;
   padding-top: 20px;
}

