.div{
    margin: 6rem 2rem 1rem 2rem;

}

.para{
   font-size: 16px;
   font-weight: bold;
   color: #666;
}

.log{
   width: 600px;
   height: 70px;
   border: 2px solid #444;
   border-radius: 10px;
   margin: 2rem 0;
}

.a{
   font-size: 16px;
   font-weight: 600;
   position: relative;
   top: 10px;
   left: 20px;
   color: #000;
}

.b{
   position: relative;
   top: -40px;
   left: 60px;
   font-size: 16px;
   color: #666;
}

.num{
  position: relative;
  top: -38px;
  left: 60px;
  font-size: 14px;
  font-weight: 700;
  color: #222;
}

.change{
    position: relative;
    top: -80px;
    left: 80%;
    background-color: #cdcdcd;
    color: #000;
    padding: 10px 25px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.num-2{
  position: relative;
  top: -36px;
  left: 60px;
  font-size: 14px;
  width: 300px;
  font-weight: 700;
  color: #222;
}

.log-2{
   width: 600px;
   height: 120px;
   border: 2px solid #444;
   border-radius: 10px;
   margin: 2rem 0;
}

.change-2{
    position: relative;
    top: -85%;
    left: 80%;
    background-color: #cdcdcd;
    color: #000;
    padding: 10px 25px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.i-1{
    position: relative;
    top: -14px;
    left: 19%;
}

.i-2{
   position: relative;
   top: -19px;
   left: 37%;
}

.div-2{
   width: 600px;
   height: 50px;
   background-color: #cecece;
   border-radius: 10px;
   margin-bottom: 2rem;
}

.b-2{
   position: relative;
   top: 10px;
   left: 10px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: #000;
   color: #fff;

}


.pay{
   position: relative;
   top: -18px;
   left: 65px;
   font-size: 16px;
   color: #222;
   font-weight: bold;
}

.para-2{
   position: relative;
   top: 3px;
   left: 10px;
}

.box{
   position: relative;
   top: -23px;
   left: 65px;
   width: 50px;
   height: 40px;
   border: 2px solid #000;
   border-radius: 10px;
   padding-left: 3px;
   padding-top: 2px;
}

.debit-class{
    position: absolute;

}

.debit{
     position: relative;
     top: -53px;
     left: 95%;
     font-weight: 500;

}


.text{
    position: relative;
    top: 5px;
    left: -100px;
   width: 400px;
   height: 50px;
   border: 2px solid #000;
   border-radius: 10px;
   padding: 10px;
}

.card-label{
     position: relative;
     top:  -35px;
     left: 68px;

}

.cvv-label{
     position: relative;
     top: 48px;
     left: -42%;
}

.date{
   display: inline-block;
    position: relative;
     top: 87px;
    left: -49%;
   width: 200px;
   height: 50px;
   border: 2px solid #000;
   border-radius: 10px;
   padding: 10px;

}

.net{
   margin-top: 7rem;
}

.cvv{
     position: relative;
     top: 48px;
     left: -42%;
}

 .inr{
   position: relative;
   top: 40px;
   left: 47%;
   background-color: #282828;
   color: #fff;
   padding: 18px 35px;
   border: none;
   border-radius: 10px;
}

.detail-div{
   position: absolute;

}

 .detail{
   position: relative;
   top: 50px;
   left: 60px;

}

.card-div{
   margin-top: 2rem;
   position: absolute;
}

.net-div{
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 50%;
}

.net-debit{
    position: relative;
    top: -30px;
    left: 50px;
    border-radius: 10px;
    width: 50px;
    height: 40px;
    border: 2px solid #000;
    padding-left: 2px;
    padding-top: 2px;
}

.bank{
   position: absolute;
}

.banking{
    position: relative;
    top: -60px;
    left: 125%;
}

.banking-2{
    position: relative;
    top: -60px;
    left: 68%;
}


.order{
    position: relative;
   /* top: -150%; */
   left: 65%;
   width: 400px;
   height: 300px;
   border: 2px solid #000;
   border-radius: 10px;
}

