body{
   margin: 20px auto;
  }

 .big-sale{
    width: 500px;
    height: 400px;
    background-image: url('https://peekncooksa.blob.core.windows.net/index-blogposts/bigbasket.jpg');
    margin: 7rem auto 0 auto;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;

 }

.exclu{
   text-align: center;
   padding:  30px 0;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 550px;
    margin: 10px auto;
}

a{
   text-decoration: none;

}


a:hover{
   color: #d1241e;
}



.box{
   width: 350px;
   height: 500px;
   border: 3px solid black;
   padding: 15px;
   border-radius: 15px;
   margin: 15px 10px;
   box-shadow: 5px 5px 10px 0 #aaa;
   /* background-color: #999; */
   background-image: url('/images/blue-abstract-layered-stripes-background.jpg');
}

.intro{
   font-size: 20px;
   margin: 8px;
}

.price{
   display: inline-block;
   color: #d1241e;
   font-weight: bold;
   font-size: 20px;
   margin:  10px;
}

.off{
   display: inline-block;
   font-size: 20px;
   color: #42d125;
   margin: 12px;
}

.star{
   color: gold;
   font-size: 20px;
   padding: 0px 3px;
   position: relative;
   left: -5px;
}

.star-1{
   background-color: #2cb411;
   font-size: 20px;
   width: 50px;
   padding: 5px;
   color: #000;
   height: 40px;
   border-radius: 5px;
   position: relative;
   top: -2%;
   left: 75%;
   margin: 10px;
}

.star-2{
   margin: 6px 5px;
   font-size: 25px;

}


.img-box{
  width: 315px;
  height: 250px;
}

.img-box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product-container{
    display: inline-block;
    margin: 10px 1.5rem;
}

.detail{
   position: relative;
   top: -50px;
   left: -4px;
   background-color: red;
   padding: 8px 30px;
   color: white;
   border-radius: 15px;
   font-weight: bold;
}


.detail:hover{
   color: black;
   background-color: #555;
   font-weight: bold;
}

.name{
   font-weight: bold;
   color: #555;
   font-size: 18px;
   margin-top: 5px;
}

.pro{
  display: inline-block;
   background-color: #282828;
   color: white;
   padding: 3px 10px;
   border-radius: 10px;
}

.pri{
   font-weight: bold;
   color: #d1241e;
   font-size: 18px;
}

.left{
  display: inline-block;
   /* color: #555; */
   font-weight: bold;
   margin: 10px 0;
   font-size: 17px;
   background-color: #cfcfcf;
   color: #000;
   border-radius: 10px;
   padding: 3px 10px;
}
