.container{
   width: 800px;
   height: 410px;
   border-radius: 25px;
   /* border: 2px solid black; */
   margin: 5rem auto;
   padding: 15px;
   box-shadow: 5px 5px 10px 0 #555;
   background-image: url('/images/n-n-BtbjCFUvBXs-unsplash.jpg')
}

.name{
    display: inline-block;
   margin: 10px 15px;
   width: 350px;
   height: 40px;
   border-radius: 25px;
   padding: 10px;
   /* margin: 15px 30px; */
   border: none;
   color: #555;

}



.h2{
   text-align: center;
   margin-bottom: 5px;
}

.user{
   display: block;
   width: 380px;
   height: 40px;
   background-color: #e41414;
   border: none;
   color: #fff;
   border-radius: 15px;
   margin: 20px auto;
   font-weight: bold;

}

.checkbox{
  position: relative;
  top: -8px;
  left: 28%;
   width: 20px;
   height: 20px;
   margin: 5px 0;
}

.para{
  position: relative;
  top: -13px;
  left: 30%;
   display: inline-block;
   font-size: 14px;
   color: #555;
   margin: 5px 0;
}

.sign{
   display: block;
   background-color: #fd8718;
   color: black;
   border-radius: 20px;
   width: 400px;
   height: 40px;
   border: none;
   margin: auto;
   font-weight: bold;
   font-size: 16px;
   color: #fff;
   cursor: pointer;
}
